<div
  id="teacher-dashboard"
  data-current-user-email="<%= current_user.email %>"
  data-upload-marks-path="<%= new_teacher_result_path %>"
  data-courses-path="<%= courses_path %>"
  data-tests-path="<%= teacher_tests_path %>"
</div>

<%= vite_javascript_tag "teacher_dashboard.jsx" %>