<div id="edit-profile-root"
     data-user="<%= @user.to_json %>"
     data-profile-path="<%= profile_path %>">
</div>

<%= vite_react_refresh_tag %>
<%= vite_client_tag %>
<%= vite_javascript_tag "edit_profile.jsx" %>